<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vipl Showcase</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../CSS/VIPLServices.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.xx.x/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.xx.x/js/uikit.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body id="page">

    
    <div class="body">
        
        <div class="container-fluid p-0  d-flex justify-content-center align-items-center main-section ">
  
        
            <div class="container-fluid mt-1">
        
                <div class="row row-1">
        
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12  top-card d-flex justify-content-center align-items-center" >
                        <div  class=" p-0 container-fluid d-flex justify-content-center align-items-center content-card" >
                            <div class="master" id="master0">
                               
                                <!-- first carousel section start -->
                               
                                <div class="content  p-0" id="scada-card0" style="height: 100%;">
                                    <div class="container-fluid p-0 d-flex  justify-content-center align-items-center" style="height: 100%;">
                                        <div class="container-fluid p-0">
                                            <div class="uk-position-relative p-0 uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 9000" >
        
                                                <div class="uk-slideshow-items" style="height: 79.7vh; border-radius: 2vh;">
                                                    <div>
                                                        <img src="../Images/d-mix.png" alt="" uk-cover >
                                                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom carousel-text-section" >
                                                            <h3 class="uk-margin-remove carousel-titel">Drum Mix SCADA</h3>
                                                            <p class="uk-margin-remove carousel-text">Production of material takes place as per exact specifications. SCADA offers monitoring of the temperature & aggregate etc. 
                                                                software stores all the data in its database server, for future reference & it is automated, improves the quality to high standards &  lo
                                                                send real time data to serve</p>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <img src="../Images/bt.png" alt="" uk-cover  >
                                                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom carousel-text-section">
                                                            <h3 class="uk-margin-remove carousel-titel "> BT - Batch Mix SCADA</h3>
                                                            <p class="uk-margin-remove carousel-text">Production of material takes place as per exact specifications. SCADA offers monitoring of the temperature & aggregate etc. 
                                                            software stores all the data in its database server, for future reference & it is automated, improves the quality to high standards & 
                                                            send real time data to serve</p>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <img src="../Images/rmc.png" alt="" uk-cover  >
                                                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom carousel-text-section">
                                                            <h3 class="uk-margin-remove carousel-titel">RMC - Batch Mix SCADA</h3>
                                                            <p class="uk-margin-remove carousel-text">provides turnkey solutions for Batch mix control panel and 
                                                                SCADA to remotely monitor the strength and quality of 
                                                                ready-mix-concrete at all plant locations. Batch sheet linking to 
                                                                respective work. Aggregate (10mm, 20mm, RS, CS), Water, 
                                                                Cement, Fillers. Etc & send real time data to server.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <a class="uk-position-center-left uk-position-small uk-hidden-hover next-previous-btn"  href uk-slidenav-previous uk-slideshow-item="previous"></a>
                                                <a class="uk-position-center-right uk-position-small uk-hidden-hover next-previous-btn" href uk-slidenav-next uk-slideshow-item="next"></a>
                                            
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
        
                                <!-- first carousel section end -->
                            </div>
                        </div>
                    </div>
        
        
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 align-items-center" >
                      
                        <div class="row " >
        
                            <div  class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12   top-inner-card d-flex justify-content-center align-items-center"  >
                                <div class="container-fluid d-flex p-0  justify-content-center align-items-center content-card"  >
                                    <div class="master" id="master1">
                                    
                                        <div class="content"   id="scada-card1">
                                            <div class="container-fluid p-2  d-flex justify-content-center align-items-center " style="height: 100%;">
                                                <div class="container-fluid  " style="overflow:auto;height: 38vh; border-radius: 2vh;">
                                                    <div class="row"  uk-scrollspy="cls: uk-animation-fade; target: .deparment-cards-section; delay: 200; repeat: true">
                                                            <a href="http://117.240.186.60:8080/PWDSCADA/" class="col-12 p-0">
                                                                <div href="" target="_blank" class="container-fluid deparment-cards-section p-0  d-flex justify-content-start align-items-center">
                                                                    <div class="department-info  d-flex justify-content-start align-items-center">
                                                                        <div class="dparment-logo ms-2 d-flex justify-content-center align-items-center ">
                                                                            <span><img src="../Images/pwd_logo.png" alt=""></span>
                                                                        </div>
                                                                        <div class="ps-2 ">
                                                                            <div class="scada-name">Public Works Department</div>
                                                                            <div class="d-name"> GOVERNMENT OF MAHARASHTRA ,INDIA</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
        
                                                            <a href="https://pmcscada.in/" class="col-12 p-0">
                                                                <div  target="_blank" class="container-fluid deparment-cards-section  d-flex p-0 justify-content-start align-items-center">
                                                                    <div class="department-info  d-flex justify-content-start align-items-center">
                                                                        <div class="dparment-logo ms-2 d-flex justify-content-center align-items-center ">
                                                                            <span><img src="../Images/pmc_logo.png" alt=""></span>
                                                                        </div>
                                                                        <div class="ps-2 d-block">
                                                                            <div class="scada-name">PMC </div>
                                                                            <div class="d-name"> Pune Municipal Corporation </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
        
                                                            <a href="http://pcmcscada.in/" class="col-12 p-0"> 
                                                                <div  target="_blank" class="container-fluid deparment-cards-section   d-flex p-0 justify-content-start align-items-center">
                                                                    <div class="department-info  d-flex justify-content-start align-items-center">
                                                                        <div class="dparment-logo ms-2 d-flex justify-content-center align-items-center ">
                                                                            <span><img src="../Images/pcmc_logo.png" alt=""></span>
                                                                        </div>
                                                                        <div class="ps-2 d-block">
                                                                            <div class="scada-name">PCMC </div>
                                                                            <div class="d-name"> Pimpri-Chinchwad Municipal Corporation </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
        
                                                            <a href="http://pwdscada.in/" class="col-12 p-0">
                                                                <div  target="_blank" class="container-fluid deparment-cards-section  d-flex p-0 justify-content-start align-items-center">
                                                                    <div class="department-info  d-flex justify-content-start align-items-center">
                                                                        <div class="dparment-logo ms-2 d-flex justify-content-center align-items-center ">
                                                                            <span><img src="../Images/SCADA.png" alt=""></span>
                                                                        </div>
                                                                        <div class="ps-2 d-block">
                                                                            <div class="scada-name">VIPL</div>
                                                                            <div class="d-name"> SCADA </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
        
                                                            <a href="http://pmrdascada.in/" class="col-12 p-0">
                                                                <div  target="_blank" class="container-fluid deparment-cards-section   d-flex p-0 justify-content-start align-items-center">
                                                                    <div class="department-info  d-flex justify-content-start align-items-center">
                                                                        <div class="dparment-logo ms-2 d-flex justify-content-center align-items-center ">
                                                                            <span><img src="../Images/PMRDA.png" alt=""></span>
                                                                        </div>
                                                                        <div class="ps-2 d-block">
                                                                            <div class="scada-name">PMRDA</div>
                                                                            <div class="d-name"> Pune Metropolitan Region Development Authority </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
        
                                                            <a href="http://mhadascada.in" class="col-12 p-0">
                                                                <div  target="_blank" class="container-fluid deparment-cards-section   d-flex p-0 justify-content-start align-items-center">
                                                                    <div class="department-info  d-flex justify-content-start align-items-center">
                                                                        <div class="dparment-logo ms-2 d-flex justify-content-center align-items-center ">
                                                                            <span><img src="../Images/MHADA.png" alt=""></span>
                                                                        </div>
                                                                        <div class="ps-2 d-block">
                                                                            <div class="scada-name">MHADA</div>
                                                                            <div class="d-name"> Maharashtra Housing and Area Development Authority </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
        
                                                            <a href="http://midcscada.in/" class="col-12 p-0">
                                                                <div  target="_blank" class="container-fluid deparment-cards-section  d-flex p-0 justify-content-start align-items-center">
                                                                    <div class="department-info  d-flex justify-content-start align-items-center">
                                                                        <div class="dparment-logo ms-2 d-flex justify-content-center align-items-center ">
                                                                            <span><img src="../Images/MIDC-Logo.png" style="height: 6vh;" alt=""></span>
                                                                        </div>
                                                                        <div class="ps-2 d-block">
                                                                            <div class="scada-name">MIDC</div>
                                                                            <div class="d-name"> Maharashtra Industrial Development Corporation </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
        
                                                            <a href="http://scadaindia.com/" class="col-12 p-0">
                                                                <div  target="_blank" class="container-fluid deparment-cards-section  d-flex p-0 justify-content-start align-items-center">
                                                                    <div class="department-info  d-flex justify-content-start align-items-center">
                                                                        <div class="dparment-logo ms-2 d-flex justify-content-center align-items-center ">
                                                                            <span><img src="../Images/SCADA.png" alt=""></span>
                                                                        </div>
                                                                        <div class="ps-2 d-block">
                                                                            <div class="scada-name">SCADA</div>
                                                                            <div class="d-name"> India </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
        
                                        
                                    </div>
        
                                </div>
                            </div>
        
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12   top-inner-card d-flex justify-content-center align-items-center">
                                <div class="container-fluid d-flex justify-content-center align-items-center content-card" >
                                    <div class="master" id="master2">
                                        
                                        <div class="content " id="scada-card2">
                                        
                                        <div class="container-fluid  p-0 d-flex justify-content-center align-items-center " style="height: 100%;">
                                                <div class="container-fluid  " >
        
        
                                                    <div class="row ">
                                                        <div class="col-12 " uk-scrollspy="cls: uk-animation-slide-top; repeat: true ; delay: 500">
                                                            <div class="row  roller-paver-section">
                                                                <div class="col-3">
                                                                <div class="container-fluid roller-paver-section p-0 d-flex justify-content-center align-items-center">
                                                                <img src="../Images/paver.png" style="width: 100% !important ; float: left; " alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-9">
                                                                <div class="container-fluid roller-paver-section   ">
                                                                    <div class="container-fluid p-0 info-title">Paver SCADA</div>
                                                                    <div class="container-fluid p-2  info-text">
                                                                        <ul class="list">
                                                                            <li >Prevent paving failures and improve project management</li>
                                                                            <li>The thickness of the layer of asphalt can be monitored</li>
                                                                            <li>The speed of the paver can be monitored & send real time data to server.</li>
                                                                        </ul>
                                                                    </div>
                                                            
                                                                    </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true ; delay: 500">
                                                            <div class="row">
                                                                <div class="col-9">
                                                                    <div class="container-fluid roller-paver-section   ">
                                                                        <div class="container-fluid p-0 info-title">Roller SCADA</div>
                                                                        <div class="container-fluid p-2  info-text">
                                                                            <ul class="list">
                                                                                <li>Records the number of roller passes and measures material stiffness</li>
                                                                                <li>Real time quality check of the roller work</li>
                                                                                <li>The pre-defined asphalt temperature for specific passes is maintained & send real time data to server.</li>
                                                                            </ul>
                                                                        </div>
                                                                
                                                                        </div>
                                                                </div>
                                                            <div class="col-3">
                                                                <div class="container-fluid roller-paver-section d-flex p-0 justify-content-center align-items-center">
                                                                <img src="../Images/Roller.png" style="width: 25vh !important ; float: left;" alt="">
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
        
                                        </div>
        
        
        
        
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-1   top-inner-card d-flex justify-content-center align-items-center"  >
                                <div class="container-fluid ">
                                
                                    <div class="row"   >
                                        <div class="col-4 tab-img-card d-flex justify-content-center align-items-center"   >
                                            <a href="https://vasundharasoftware.com/SCADA" div data-target="scada-card" class="controller-item   inner-content-card1 scada-card img-inner-card p-0 container-fluid d-flex justify-content-center align-items-start ">
                                                
                                                <div class="container-fluid">
                                                    <div class="container-fluid mt-2 p-0">
                                                        <span class=" pro-name"><h5 >SCADA</h5></span>
                                                    </div>
                                                </div>
                                                
                                            </a>
                                        </div>
        
                                        <a href="https://vasundharasoftware.com/FLMS/" class="col-4 tab-img-card  d-flex justify-content-center align-items-center"  >
                                            <div data-target="vmtrack-card"  class="controller-item inner-content-card1 vmtrack-card img-inner-card p-0 container-fluid d-flex justify-content-center align-items-start ">
        
                                                <div class="container-fluid">
                                                    <div class="container-fluid mt-2 p-0">
                                                        <span class="pro-name"><h5>VM-TRACK</h5></span>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </a>
        
                                        <div class="col-4 tab-img-card d-flex justify-content-center align-items-center"  >
                                            <a href="http://elab.mahapwd.gov.in/elaboffice_cen/" data-target="elab-card" class="controller-item inner-content-card1 elab-card img-inner-card p-0 container-fluid d-flex justify-content-center align-items-start ">
        
                                                <div class="container-fluid">
                                                    <div class="container-fluid mt-2 p-0">
                                                        <span class="pro-name"><h5>E-LAB</h5></span>
                                                    </div>
                                                </div>
        
                                            </a>
                                        </div>
        
                                        <div class="col-4 tab-img-card d-flex justify-content-center align-items-center"  >
                                            <div data-target="erp-s-card" class="controller-item inner-content-card1  estimate-card img-inner-card p-0 container-fluid d-flex justify-content-center align-items-start ">
                                                
                                                <div class="container-fluid">
                                                    <div class="container-fluid mt-2 p-0 ">
                                                        <span class="pro-name"><h5>Estimate</h5></span>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
        
                                        <div class="col-4 tab-img-card d-flex justify-content-center align-items-center"  >
                                            <a href="https://play.google.com/store/apps/details?id=com.vasundharasoftware.service_erp" data-target="erp-e-card"  class=" controller-item inner-content-card1 erp-e-card img-inner-card p-0 container-fluid d-flex justify-content-center align-items-start ">
                                                <div class="container-fluid">
                                                    <div class="container-fluid mt-2 p-0">
                                                        <span class="pro-name"><h5>ERP-SERVICE</h5></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 tab-img-card d-flex justify-content-center align-items-center"  >
                                            <div data-target="erp-e-card"  class=" controller-item inner-content-card1 e-billing-card img-inner-card p-0 container-fluid d-flex justify-content-center align-items-start ">
                                                <div class="container-fluid">
                                                    <div class="container-fluid mt-2 p-0">
                                                        <span class="pro-name"><h5>E-Billing</h5></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                    
        
                                    
                                    
                                    </div>
                                
                                
                                    
                                
                                
                                
                                
                                </div>
                            </div>
                            <div  class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12   top-inner-card d-flex justify-content-center align-items-center"  >
                                <div class="container-fluid d-flex justify-content-center align-items-center content-card"   >
                                    <div class="master" id="master3">
                                        
                                        
                                        <div class="content" id="scada-card3">
                                        
                                            
                                            <div class="container-fluid  p-0 d-flex justify-content-center align-items-center " style="height: 100%;">
                                                <div class="container-fluid" >
        
        
                                                    <div class="row ">
                                                        <div class="col-12 " uk-scrollspy="cls: uk-animation-slide-top; repeat: true ; delay: 500">
                                                            <div class="row mt-2  roller-paver-section">
                                                                <div class="col-3">
                                                                <div class="container-fluid roller-paver-section p-0 d-flex justify-content-center align-items-center">
                                                                <img src="../Images/rmc-2.png" style="width: 100% !important ; float: left; " alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-9">
                                                                <div class="container-fluid roller-paver-section p-2  ">
                                                                    <div class="container-fluid p-0 info-title">RMC SCADA</div>
                                                                    <div class="container-fluid  p-0 ">
                                                                        <p  class="info-text">
                                                                            provides turnkey solutions for Batch mix control panel and 
                                                                            SCADA to remotely monitor the strength and quality of 
                                                                            ready-mix-concrete at all plant locations. Batch sheet linking to 
                                                                            respective work. Aggregate (10mm, 20mm, RS, CS), Water, 
                                                                            Cement, Fillers. Etc & send real time data to server. 
                                                                        </p>
                                                                    </div>
                                                            
                                                                    </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true ; delay: 500">
                                                            <div class="row">
                                                                <div class="col-9">
                                                                    <div class="container-fluid roller-paver-section p-2  ">
                                                                        <div class="container-fluid p-0 info-title">RDM / SLM SCADA</div>
                                                                        <div class="container-fluid  p-0 info-text">
                                                                            <p class="info-text">
                                                                                Vasundhara SCADA monitors the exact proportion and best 
                                                                                quality of all involved components for creating a perfect enduring 
                                                                                concrete mix, Perfect composition of materials can be obtained 
                                                                                every time & send real time data to server.
                                                                            </p>
                                                                        </div>
                                                                
                                                                        </div>
                                                                </div>
                                                            <div class="col-3">
                                                                <div class="container-fluid roller-paver-section d-flex p-0 justify-content-center align-items-center">
                                                                <img src="../Images/RDM.png" style="width: 25vh !important ; float: left;" alt="">
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
        
        
                                        </div>
                                        
                                        
                                        
                                        
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    
                    </div>
        
        
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 bottom-card  d-flex justify-content-center align-items-start" >
                        <div class="container-fluid d-flex p-0 justify-content-center align-items-start content-card" >
                            <div class="master container-fluid  p-0 " id="master4" >
                                
                                <!-- scada-card4 start -->
                                <div class="content  m-0" id="scada-card4">
                                    <div class="video-container container-fluid p-0">
                                        <video class="bg-video" src="../Images/SCADA-Animation.mp4" loop muted playsinline uk-video="autoplay: inview" ></video>
                                    </div>
                                </div>
                                <!-- scada-card4 end -->
        
                                
                                
                              </div>
                        </div>
                    </div>
        
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 bottom-card d-flex justify-content-center align-items-center"  >
                        <div class="container-fluid p-0 d-flex justify-content-center align-items-center content-card" >
                            <div class="master" id="master5">
        
        
                                <div class="content" id="scada-card5">
                                    <div class="container-fluid  p-0 d-flex justify-content-center align-items-center " style="height: 100%;">
                                        <div class="container-fluid p-0">
                                            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 9000" >
        
                                                <div class="uk-slideshow-items" style="height: 41.7vh; border-radius: 2vh;">
                                                    <div>
                                                        <img src="../Images/SCADA-intro1.png"  alt="" uk-cover>
                                                        <div class="uk-overlay uk-overlay-primary uk-position-right uk-text-start uk-transition-slide-right uk-width-medium p-2" style="width: 60vh;">
                                                            <h3 class="uk-margin-remove carousel-titel">SCADA</h3>
                                                            <p class=" mt-1 carousel-text">SCADA allows an organization to carefully study and anticipate the optimal response to measured conditions and execute those 
                                                                responses automatically every time. Relying on precise machine control for monitoring equipment and processes virtually 
                                                                eliminates human error. In order to maintain efficiency in any organization, SCADA systems are vital for processing of data for making 
                                                                smarter decisions. SCADA helps in the following below</p>
                                                               <div class="container-fluid p-0 mt-3">
                                                                <a href="https://vasundharasoftware.com/SCADA">
                                                                    <div class="vipl-link-btn carousel-text">visit for more details</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <img src="../Images/C-A-M1.png" alt="" uk-cover>
                                                        <div class="uk-overlay uk-overlay-primary uk-position-right uk-text-start uk-transition-slide-right uk-width-medium p-2"style="width: 60vh;">
                                                            <h3 class="uk-margin-remove carousel-titel">COMPACTION ANALYSER (SCADA)</h3>
                                                            <p class=" mt-1 carousel-text">Vasundhara's Compaction Analyser offers a comprehensive solution for planning, measuring, controlling, documenting and analysing compaction process. It also facilitates the real-time compaction monitoring and timely adjustments of the compaction process in order to attain high quality and uniform concrete mixture.</p>
                                                            <div class="container-fluid p-0 mt-3">
                                                                <a href="https://vasundharasoftware.com/CompactionAnalyser">
                                                                    <div class="vipl-link-btn carousel-text">visit for more details</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <img src="../Images/CTM1.png" alt="" uk-cover>
                                                        <div class="uk-overlay uk-overlay-primary uk-position-right uk-text-start uk-transition-slide-right uk-width-medium p-2"style="width: 60vh;">
                                                            <h3 class="uk-margin-remove carousel-titel">CTM SCADA</h3>
                                                            <p class=" mt-1 carousel-text">The main feature of this SCADA Controlled System and Hydraulic Unit is the maximum flexibility of the computer used as a friendly interface in terms of customisation of tests, processing of input and output data, connection to the existing laboratory network, etc. The SCADA Controlled System enables the automatic performance of a number of functions, e.g. Rapid piston approach, Zeroing, User defined load rate, Failure detection, Unloading, etc.</p>
                                                            <div class="container-fluid p-0 mt-3">
                                                                <a href="https://vasundharasoftware.com/CTM">
                                                                    <div class="vipl-link-btn carousel-text">visit for more details</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <a class="uk-position-center-left uk-position-small uk-hidden-hover next-previous-btn" href uk-slidenav-previous uk-slideshow-item="previous"></a>
                                                <a class="uk-position-center-right uk-position-small uk-hidden-hover next-previous-btn" href uk-slidenav-next uk-slideshow-item="next"></a>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
        
                                
                              </div>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            </div>

    </div>

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script>
$(function(){
    $("#test").load("test.html"); 
    $("#footer").load("footer.html"); 
  });</script>

  <script>
    AOS.init();
  </script>

</body>
</html>
